body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial;
  padding-top: 100px;
}

h1 {
  color: #00ff88;
}
button {
  background-color: #00ff88;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #00cc6a;
}img {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}