body {
  background: linear-gradient(135deg, #0d0d0d, #003322, #000000);
  background-size: 300% 300%;
  animation: fundoAnimado 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.card {
  background-color: #1c1c1c;
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 255, 136, 0.15);
  transition: 0.3s;

  animation: aparecer 1s ease;
}

.card:hover {
  transform: scale(1.03);
}

h1 {
  color: #00ff88;
  transition: 0.3s;
}

h1:hover {
  transform: scale(1.05);
}

img {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

p {
  color: #ccc;
  font-size: 18px;
  margin: 10px 0;
}

button {
  background: linear-gradient(135deg, #00ff88, #00cc6a);
  color: black;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.social {
  margin-top: 25px;
}

.social a {
  display: inline-block;
  margin: 8px;
  color: #00ff88;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}

.social a:hover {
  color: #00cc6a;
  transform: scale(1.1);
}

@keyframes fundoAnimado {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .card {
    width: 85%;
    padding: 30px 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  img {
    width: 120px;
  }

  button {
    width: 100%;
  }
}